<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cliente form</title>
</head>
<body>
    <h1>Create New Client</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
    
    {% if cliente %}
        <a href="{% url 'delete_cliente' cliente.id %}">delete cliente</a>
    {% endif %}
</body>
</html>